.marker-cluster-small,.marker-cluster-small div,.marker-cluster-medium,.marker-cluster-medium div,.marker-cluster-large,.marker-cluster-large div {
	background-color: rgba(0,0,0,.5);
	color: #fff;
}
.leaflet-oldie .marker-cluster-small,.leaflet-oldie .marker-cluster-small div,.leaflet-oldie .marker-cluster-medium,.leaflet-oldie .marker-cluster-medium div,.leaflet-oldie .marker-cluster-large,.leaflet-oldie .marker-cluster-large div {
	background-color: rgba(0,0,0,.5);
	color: #fff;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	line-height: 30px;
}